* {
  font-family: "Lato" !important;
  font-weight: 400;
}

.navbar {
  background-color: #ef476f;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-primary-outline:hover,
.btn-primary-outline:active,
.btn-primary-outline:focus,
.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.card,
.card-body,
.card-text,
.card-title {
  background-color: white;
}

.jumbotron,
.card-container {
  background-color: whitesmoke;
}

.card-header {
  background: linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 0%,
    hsla(295, 100%, 84%, 1) 100%
  );
}
