* {
  font-family: "Lato" !important;
  font-weight: 400;
}

.navbar {
  background-color: #ef476f;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-primary-outline:hover,
.btn-primary-outline:active,
.btn-primary-outline:focus,
.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.card,
.card-body,
.card-text,
.card-title {
  background-color: white;
}
